<div data-controller="gallery-modal"
     data-target-input="{{ target|default('') }}"
     data-target-container=".media-gallery">
    <a href="#"
       class="d-none gallery-show-link"
       data-action="gallery-modal#show">
        {{ 'jk_media.gallery.choose_another_media'|trans }}
    </a>
    <div class="media-gallery">
        <div class="row">
            <div class="col-md-12">
                <div class="card-group">
                    {% for media in medias %}
                    {% set media_text = media.name ~ (media.description ? ' - ' ~ media.description : '') %}
                    <div class="card">
                        <a href="#"
                           class="cms-media-image"
                           data-action="gallery-modal#select">
                            <img class="card-img-top"
                                 src="{{ media_path(media) }}"
                                 alt="{{ media_text }}"
                                 title="{{ media_text }}"
                                 data-media-id="{{ media.id }}"
                                 onerror="this.src='{{ asset('/bundles/jkmedia/assets/img/default.png') }}'"
                                 width="300"
                                 height="100"/>
                        </a>
                    </div>
                    
                    {% if loop.index is divisible by (3) %}
                </div>
                <div class="card-group">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 mt-2 pagination">
                {{ pagerfanta(medias, 'twitter_bootstrap4_translated', {
                    proximity: 1
                }) }}
            </div>
        </div>
    </div>
</div>
