{% block jk_media_gallery_row %}
    <div class="media-gallery">
        <div {{ block('attributes') }} data-controller="jk-media-gallery">
            <progress class="progress d-none"></progress>
            {% set attr = form.vars.row_attr %}

            <div class="row row-cols-{{ form.vars.columns }}">
                {% for child in form %}
                    {% set media = form.vars.media_collection[child.vars.value] %}
                    <div class="col">
                        <div class="card h-100"
                             data-action="click->jk-media-gallery#select">
                            <img src="{{ asset(media.path)|imagine_filter(form.vars.media_filter) }}"
                                 alt="{{ media.description }}"
                                 height="200"
                                 width="168"
                                 class="card-img-top">
                            <div class="card-body hide">
                                {{ form_label(child) }}
                                {{ form_widget(child) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if form.children|length > 0 %}
                <div class="pager">
                    {{ pagerfanta(pager) }}
                </div>
            {% else %}
                <div>
                    <p class="text-center">{{ 'jk_media.gallery.no_media'|trans }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block jk_media_upload_widget %}
    <div class="progress hide">
        <div class="progress-bar"
             role="progressbar"
             style="width: 0;"
             aria-valuenow="0"
             aria-valuemin="0"
             aria-valuemax="100">0%
        </div>
    </div>
    <div class="error-message hide text-danger"></div>
    {{ form_widget(form) }}
{% endblock %}

{% block jk_media_widget %}
    <div class="media-form"
         data-controller="jk-media-form"
         data-target="#{{ form.identifier.vars.id }}"
         data-url="{{ path('jk_media.media.select') }}">
        {% set media = form.vars.value %}

        {{ form_row(form.identifier) }}

        <a href="#"
           class="media-item cms-media-image-container"
           data-toggle="modal">
            <img src="{{ media_path(media) }}"
                 alt="{{ media.name|default('') }}"
                 width="50"
                 height="50"
                 class="media-target img-fluid {% if not media.path|default(false) %}hide{% endif %}"/>
        </a>

        <a href="#"
           class="hide"
           data-action="jk-media-form#removeMedia">
            {{ 'jk_media.media.remove'|trans }}
        </a>

        <a href="#"
           class="hide"
           data-action="jk-media-form#openMediaModal">
            {{ 'jk_media.media.add'|trans }}
        </a>

        <div class="d-none">
            <div id="admin-loader"
                 class="text-center">
                <div class="spinner-border text-primary"
                     role="status">
                    <span class="sr-only">{{ 'jk_media.modal.loading' | trans }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

