{% block jk_media_gallery_row %}
    <div class="media-gallery">
        <progress
            class="progress d-none"></progress>
        {% set attr = form.vars.row_attr %}
        <div {{ block('attributes') }}>
            {% for child in form.children %}
                <div class="card">
                    {{ form_label(child) }}
                    {{ form_widget(child) }}
                </div>
            {% else %}
                <p>{{ 'jk_media.gallery.no_media'|trans }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block jk_media_upload_widget %}
    <div class="progress hide">
        <div class="progress-bar"
             role="progressbar"
             style="width: 0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    <div class="error-message hide text-danger"></div>
    {{ form_widget(form) }}
{% endblock %}

{% block jk_media_widget %}
    <div class="media-form">
        {% set media = form.vars.data %}
        {% set hasValidMedia = media and media.id %}

        {{ form_row(form.id) }}

        {% if media and media.id != 0 %}
            {% set url = media_path(media) %}
        {% endif %}

        <a href="#"
           class="media-item cms-media-image-container"
           data-toggle="modal"
           data-target="#image-modal-{{ media.id|default('') }}">
            <img src="{{ media.path|default('') }}"
                 alt="{{ media.name|default('') }}"
                 width="50"
                 height="50"
                 class="media-target {% if not media.path|default(false) %}hide{% endif %}"/>
        </a>

        <a href="#"
           data-action="media-form#removeMedia">
            {{ 'jk_media.media.remove'|trans }}
        </a>

        <a href="#"
           data-action="media-form#restoreMedia">
            {{ 'jk_media.media.restore'|trans }}
        </a>

        <a href="#"
           data-action="media-form#addMedia">
            {{ 'jk_media.media.add'|trans }}
        </a>

        {# Image in huge size #}
        {% include '@JKMedia/modal/image_full_size.html.twig' %}

        <div class="cms-media-choice d-none">
            <ul class="nav nav-tabs"
                role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"
                       id="cms-upload-from-computer-tab"
                       data-toggle="tab"
                       href="#home"
                       role="tab"
                       aria-controls="home"
                       aria-selected="true">
                        {{ 'media.image.upload_from_computer' | trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="cms-upload-from-url"
                       data-toggle="tab"
                       href="#profile"
                       role="tab"
                       aria-controls="profile"
                       aria-selected="false">
                        {{ 'media.image.upload_from_url' | trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="cms-choose-from-gallery"
                       data-toggle="tab"
                       href="#contact"
                       role="tab"
                       aria-controls="contact"
                       aria-selected="false">
                        {{ 'media.image.choose_from_collection' | trans }}
                    </a>
                </li>
            </ul>
            <div class="tab-content"
                 id="myTabContent">
                <div class="tab-pane fade show active"
                     id="home"
                     role="tabpanel"
                     aria-labelledby="cms-upload-from-computer-tab">
                    {{ form_row(form.file) }}
                </div>
                <div class="tab-pane fade"
                     id="profile"
                     role="tabpanel"
                     aria-labelledby="cms-upload-from-url">
                    {{ form_row(form.url) }}
                </div>
                <div class="tab-pane fade"
                     id="contact"
                     role="tabpanel"
                     aria-labelledby="cms-choose-from-gallery">
                    <a href="#"
                       class="cms-media-modal-link"
                       data-toggle="modal"
                       data-url="{{ path('media.gallery') }}"
                       data-target="#cms-modal">
                        {{ 'media.gallery.open' | trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block media_upload_row %}#}
{#    <div data-controller="media-upload" class="hide">#}
{#        {{ form_label(form) }}#}
{#        {{ form_widget(form) }}#}
{#    </div>#}
{#{% endblock %}#}

{#{% block jquery_upload_widget %}#}
{#    <div class="media-form-container">#}
{#        <div class="media-form-preview">#}
{#            {% if form.vars.data and form.vars.data.id and form.vars.data.type is defined %}#}
{#                {% set mediaUrl = media_directory('media_gallery') %}#}
{#                {% set mediaUrl = media_directory(form.vars.data.type) ~ '/' ~ form.vars.data.filename %}#}

{#                <img src="{{ mediaUrl | imagine_filter('media_gallery') }}"#}
{#                     class="media-target"#}
{#                     alt="Uploaded image"/>#}
{#                <br/>#}
{#                <a href="#"#}
{#                   class="remove-media"#}
{#                   data-target="{{ form.vars.media_target }}">#}
{#                    <i class="fa fa-remove"></i>#}
{#                    {{ form.vars.remove_label | trans }}#}
{#                </a>#}
{#            {% else %}#}
{#                <img src=""#}
{#                     class="media-target"#}
{#                     alt="Uploaded image"/>#}
{#                <a href="#"#}
{#                   class="remove-media hide"#}
{#                   data-target="{{ form.vars.media_target }}">#}
{#                    <i class="fa fa-remove"></i>#}
{#                    Remove Media#}
{#                </a>#}
{#            {% endif %}#}
{#        </div>#}
{#        {{ block('form_widget') }}#}

{#        {{ form_widget(form.upload_type) }}#}
{#    </div>#}
{#{% endblock %}#}
