<div class="modal-content" data-controller="media-upload-modal">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'media.media.choose'|trans }}</h4>
        <button type="button"
                class="btn close"
                data-dismiss="modal"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="{{ path('media.add_image_modal') }}"
          method="post"
          enctype="multipart/form-data"
          class="media-upload-form">
        <div class="modal-body">
            <div class="row">
                <div id="image-form-container" class="col-lg-12">
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {% for child in form.uploadType.children %}
                            <div class="form-check">
                                {{ form_row(child) }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group hidden media-choice-item"
                         data-src="upload_from_computer">
                        {{ form_row(form.upload) }}
                    </div>

                    <div class="form-group hidden media-choice-item media-gallery-container"
                         data-url="{{ path('media.gallery') }}"
                         data-src="choose_from_collection">
                        {{ 'media.gallery.loading_in_progress' | trans }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_rest(form) }}

            <button type="button"
                    class="btn btn-default"
                    data-dismiss="modal">{{ 'media.gallery_modal.cancel' | trans }}</button>
            <input type="submit"
                   id="add-image-btn"
                   value="{{ 'media.image.add' | trans }}"
                   class="btn btn-primary"/>
        </div>
    </form>
</div>
