<header class="modal__header">
    <h2 class="modal__title" id="modal-1-title">
        {{ 'jk_media.media.add'|trans }}
    </h2>
    <button class="modal__close" aria-label="{{ 'jk_media.close'|trans }}" data-micromodal-close></button>
</header>
<main class="modal__content" id="modal-1-content">
    {{ form_start(form) }}
    {{ form_row(form) }}
    {{ form_end(form) }}
</main>
<footer class="modal__footer">
    <button class="modal__btn"
            data-micromodal-close
            aria-label="{{ 'jk_media.close'|trans }}">
        {{ 'jk_media.close'|trans }}
    </button>
    <button class="modal__btn modal__btn-primary">{{ 'jk_media.media.choose_media'|trans }}</button>
</footer>
