<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'cms.gallery.add_image' | trans }}</h4>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="{{ path('cms.media.add_image_modal') }}"
          method="post"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
                <div id="image-form-container" class="col-lg-12">
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_row(form.uploadType) }}
                    </div>

                    <div class="form-group hidden media-choice-item">
                        {#{{ form_row(form.url) }}#}
                    </div>

                    <div class="form-group hidden media-choice-item">
                        {{ form_row(form.upload) }}
                    </div>

                    <div class="form-group hidden media-choice-item media-gallery-item"
                         data-target="{{ path('cms.media.gallery.ajax') }}">
                        {{ 'cms.main.loading_in_progress' | trans }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {{ form_rest(form) }}

            <button type="button"
                    class="btn btn-default"
                    data-dismiss="modal">{{ 'cms.main.cancel' | trans }}</button>
            <input type="submit"
                   id="add-image-btn"
                   value="{{ 'cms.gallery.add_image' | trans }}"
                   class="btn btn-primary"/>
        </div>
    </form>
</div>
